.timeline-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.timeline-sections {
    display: flex;
    gap: 50px;
    width: max-content;
    height: 100%;
    padding: 20px;
}


/* Scrollbar personalizado */
.custom-scroll::-webkit-scrollbar {
    width: 0px; 
    height: 3px;
}

.custom-scroll::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
}

.custom-scroll::-webkit-scrollbar-thumb {
    background-color: #88888800;
    border-radius: 10px; 
}

.album-stories{
    filter: blur(4px);
}